.Rproj.user
.Rhistory
.RData
.Ruserdata
./data/raw/M-T-44_R2_001.fastq.gz
./data/raw/M-C-339_R2_001.fastq.gz
./data/raw/M-C-339_R1_001.fastq.gz
./data/raw/M-C-216_R1_001.fastq.gz
./data/raw/M-T-193_R2_001.fastq.gz
./data/raw/M-C-306_R2_001.fastq.gz
./data/raw/M-T-83_R2_001.fastq.gz
./data/raw/M-T-22_R2_001.fastq.gz
./data/raw/M-T-43_R1_001.fastq.gz
./data/raw/M-T-43_R2_001.fastq.gz
./data/raw/M-T-20_R2_001.fastq.gz
./data/raw/M-T-32_R1_001.fastq.gz
./data/raw/M-T-8_R1_001.fastq.gz
./data/raw/M-C-360_R2_001.fastq.gz
./data/raw/M-T-29_R1_001.fastq.gz
./data/raw/M-T-44_R1_001.fastq.gz
./data/raw/M-T-235_R2_001.fastq.gz
./data/raw/M-T-18_R1_001.fastq.gz
./data/raw/M-T-18_R2_001.fastq.gz
./data/raw/M-C-363_R1_001.fastq.gz
./data/raw/M-C-360_R1_001.fastq.gz
./data/raw/M-T-20_R1_001.fastq.gz
./data/raw/M-T-399_R1_001.fastq.gz
./data/raw/M-C-334_R2_001.fastq.gz
./data/raw/M-C-337_R1_001.fastq.gz
./data/raw/M-C-482_R1_001.fastq.gz
./data/raw/M-T-31_R1_001.fastq.gz
./data/raw/M-T-500_R2_001.fastq.gz
./data/raw/M-T-193_R1_001.fastq.gz
./data/raw/M-C-358_R2_001.fastq.gz
./data/raw/M-C-329_R2_001.fastq.gz
./data/raw/M-C-329_R1_001.fastq.gz
./data/raw/M-C-373_R1_001.fastq.gz
./data/raw/M-T-500_R1_001.fastq.gz
./data/raw/M-C-226_R1_001.fastq.gz
./data/raw/M-C-337_R2_001.fastq.gz
./data/raw/M-T-32_R2_001.fastq.gz
./data/raw/M-T-235_R1_001.fastq.gz
./data/raw/M-C-216_R2_001.fastq.gz
./data/raw/M-T-22_R1_001.fastq.gz
./data/raw/M-C-363_R2_001.fastq.gz
./data/raw/M-T-399_R2_001.fastq.gz
./data/raw/M-C-334_R1_001.fastq.gz
./data/raw/M-C-226_R2_001.fastq.gz
./data/raw/M-T-8_R2_001.fastq.gz
./data/raw/M-T-245_R1_001.fastq.gz
./data/raw/M-C-488_R1_001.fastq.gz
./data/raw/M-C-306_R1_001.fastq.gz
./data/raw/M-T-31_R2_001.fastq.gz
./data/raw/M-C-482_R2_001.fastq.gz
./data/raw/M-T-29_R2_001.fastq.gz
./data/raw/M-C-218_R1_001.fastq.gz
./data/raw/M-T-245_R2_001.fastq.gz
./data/raw/M-T-83_R1_001.fastq.gz
./data/raw/M-T-7_R1_001.fastq.gz
./data/raw/M-C-373_R2_001.fastq.gz
./data/raw/M-C-358_R1_001.fastq.gz
./data/raw/M-C-488_R2_001.fastq.gz
./data/raw/M-T-7_R2_001.fastq.gz
./data/raw/M-C-218_R2_001.fastq.gz
./blastdb/uniprot_sprot_r2023_04.psq
./blastdb/uniprot_sprot_r2023_04.phr
./code/transcripts.idx
./data/GCF_026571515.1.zip
./data/raw/M-T-44_R2_001.fastq.gz
./data/raw/M-C-339_R2_001.fastq.gz
./data/raw/M-C-339_R1_001.fastq.gz
./data/raw/M-C-216_R1_001.fastq.gz
./data/raw/M-C-306_R2_001.fastq.gz
./data/raw/M-T-83_R2_001.fastq.gz
./data/raw/M-T-22_R2_001.fastq.gz
./data/raw/M-T-43_R1_001.fastq.gz
./data/raw/M-T-43_R2_001.fastq.gz
./data/raw/M-T-20_R2_001.fastq.gz
./data/raw/M-T-32_R1_001.fastq.gz
./data/raw/M-T-8_R1_001.fastq.gz
./data/raw/M-C-360_R2_001.fastq.gz
./data/raw/M-T-29_R1_001.fastq.gz
./data/raw/M-T-44_R1_001.fastq.gz
./data/raw/M-T-235_R2_001.fastq.gz
./data/raw/M-T-18_R1_001.fastq.gz
./data/raw/M-T-18_R2_001.fastq.gz
./data/raw/M-C-363_R1_001.fastq.gz
./data/raw/M-C-360_R1_001.fastq.gz
./data/raw/M-T-20_R1_001.fastq.gz
./data/raw/M-T-399_R1_001.fastq.gz
./data/raw/M-C-334_R2_001.fastq.gz
./data/raw/M-C-337_R1_001.fastq.gz
./data/raw/M-C-482_R1_001.fastq.gz
./data/raw/M-T-31_R1_001.fastq.gz
./data/raw/M-T-500_R2_001.fastq.gz
./data/raw/M-C-358_R2_001.fastq.gz
./data/raw/M-C-329_R2_001.fastq.gz
./data/raw/M-C-329_R1_001.fastq.gz
./data/raw/M-C-373_R1_001.fastq.gz
./data/raw/M-T-500_R1_001.fastq.gz
./data/raw/M-C-226_R1_001.fastq.gz
./data/raw/M-C-337_R2_001.fastq.gz
./data/raw/M-T-32_R2_001.fastq.gz
./data/raw/M-T-235_R1_001.fastq.gz
./data/raw/M-C-216_R2_001.fastq.gz
./data/raw/M-T-22_R1_001.fastq.gz
./data/raw/M-C-363_R2_001.fastq.gz
./data/raw/M-T-399_R2_001.fastq.gz
./data/raw/M-C-334_R1_001.fastq.gz
./data/raw/M-C-226_R2_001.fastq.gz
./data/raw/M-T-8_R2_001.fastq.gz
./data/raw/M-T-245_R1_001.fastq.gz
./data/raw/M-C-488_R1_001.fastq.gz
./data/raw/M-C-306_R1_001.fastq.gz
./data/raw/M-T-31_R2_001.fastq.gz
./data/raw/M-C-482_R2_001.fastq.gz
./data/raw/M-T-29_R2_001.fastq.gz
./data/raw/M-C-218_R1_001.fastq.gz
./data/raw/M-C-193_R2_001.fastq.gz
./data/raw/M-T-245_R2_001.fastq.gz
./data/raw/M-T-83_R1_001.fastq.gz
./data/raw/M-T-7_R1_001.fastq.gz
./data/raw/M-C-373_R2_001.fastq.gz
./data/raw/M-C-358_R1_001.fastq.gz
./data/raw/M-C-488_R2_001.fastq.gz
./data/raw/M-T-7_R2_001.fastq.gz
./data/raw/M-C-218_R2_001.fastq.gz
./data/raw/M-C-193_R1_001.fastq.gz
./data/uniprot_sprot_r2023_04.fasta
./data/ncbi_dataset/data/GCF_026571515.1/rna.fna
./data/ncbi_dataset/data/GCF_026571515.1/cds_from_genomic.fna
./data/ncbi_dataset/data/GCF_026571515.1/genomic.gff
./data/ncbi_dataset/data/GCF_026571515.1/GCF_026571515.1_ASM2657151v2_genomic.fna
